<?xml version="1.0" ?>
<robot name="box" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find box_description)/urdf/materials.xacro" />
<xacro:include filename="$(find box_description)/urdf/box.trans" />
<xacro:include filename="$(find box_description)/urdf/box.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.02" rpy="0 0 0"/>
    <mass value="3.5168"/>
    <inertia ixx="0.002345" iyy="0.006213" izz="0.00762" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find box_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find box_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
